{% extends "base.html" %}
{% block title %}Over ons{% endblock %}

{% block content %}
<h1>Over ons</h1>
<div class="row text-center">
    <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="https://t3.ftcdn.net/jpg/01/09/00/64/360_F_109006426_388PagqielgjFTAMgW59jRaDmPJvSBUL.jpg" alt="profilepic">
        <div class="card-body">
          <h5 class="card-title">Niels Kersic</h5>
          <p class="card-text">Software Development student</p>
        </div>
      </div>

      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="https://t3.ftcdn.net/jpg/01/09/00/64/360_F_109006426_388PagqielgjFTAMgW59jRaDmPJvSBUL.jpg" alt="profilepic">
        <div class="card-body">
          <h5 class="card-title">Rade Grbic</h5>
          <p class="card-text">Software Development student</p>
        </div>
      </div>

      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="https://t3.ftcdn.net/jpg/01/09/00/64/360_F_109006426_388PagqielgjFTAMgW59jRaDmPJvSBUL.jpg" alt="profilepic">
        <div class="card-body">
          <h5 class="card-title">Wilbert van de Westerlo</h5>
          <p class="card-text">Software Development student</p>          
        </div>
      </div>

      <div class="card" style="width: 12rem;">
        <a href="https://www.linkedin.com/in/dimitri-batchev/">
          <img class="card-img-top" src="{{url_for('static', filename='dimitri.jpg')}}" alt="dimitriprofilepic">
        </a>
        <div class="card-body">
          <h5 class="card-title">Dimitri Batchev</h5>
          <p class="card-text">Software Development student</p>
        </div>
      </div>
</div>
<br />
<h5>Klik op een foto voor meer informatie</h5>
{% endblock %}