{% extends "base.html" %}
{% block title %}Demonstrator{% endblock %}

{% block content %}
<h1>GAN demonstrator</h1>

<form method="post">
  <div class="form-group">
    <label for="inputNumber">Voer een getal in. Dit getal wordt middels GAN en de MNIST dataset gegenereerd in de vorm van een afbeelding.</label>
    <input type="number" class="form-control" name="input" placeholder="Getal">
  </div>

  <button type="submit" class="btn btn-primary">OK</button>
</form>

<br>

<div>
  <img src="data:image/png;base64,{{ forward_message }}" id="ganimg" onerror="this.style.display='none'" alt="Generated digit images">
</div>
{% endblock %}