{% extends "base.html" %}
{% block title %}Demonstrator{% endblock %}

{% block content %}
<h1>GAN demonstrator</h1>

<form method="post">
  <div class="form-group">
    <label for="inputNumber">Voer een positief getal in van maximaal 10 cijfers. Dit getal wordt middels GAN en de MNIST dataset gegenereerd in de vorm van een afbeelding.</label>
    <input type="number" min="0" minlength="1" maxlength="10" class="form-control" name="input" placeholder="Getal">
  </div>

  <button type="submit" class="btn btn-primary" onclick="$('#loading').show();">OK</button>
</form>

<br>
<div id="loading" style="display:none;"><img src="{{url_for('static', filename='loading.gif')}}" alt="" style="width: 40%"/></div>
<div>
  <img src="data:image/png;base64,{{ forward_message }}" id="ganimg" onerror="this.style.display='none'" alt="Generated digit images" style="width: 100%">
</div>
{% endblock %}